.receipt-container {
  padding: 24px 32px;
}

.receipt-header {
  margin-bottom: 20px;
}

.receipt-card {
  border-radius: 10px;
  box-shadow: 0 6px 18px rgb(250, 249, 249);
}

.ant-card-head-title {
  font-weight: 600;
}

.ant-form-item-label > label {
  font-weight: 500;
}

button {
  border-radius: 6px !important;
}

.receipt-container textarea,
.receipt-container input {
  border-radius: 6px !important;
}
